# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User generated output
/output/*
!/output/.gitkeep

# User structured resume data
/data/cv_info.json
